//$bgColor: #2B2122; // ORIGINAL
$bgColor: #010500;
$red: #567370;
$purple: #567370;

// FONTS
$dv : 'ClashDisplay-Variable';
$dsb : 'ClashDisplay-Semibold';
$dm : 'ClashDisplay-Medium';
$dl : 'ClashDisplay-Light';
$gv : 'ClashGrotesk-Variable';
